*{
    /* border: 2px red solid */
}

body{
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0 auto;
    color: black;
    background: white
}
/*! Her bir tag için özellik tanımla; h1-h2-h3-p */
h1{
    font-size: 2rem;
    font-weight: lighter;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 1.3rem;
}

/* 1. Kısım - Title "Site Başlığı" */
.title{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Başlangıç: Container'a Özellikleri Atama */
.container {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

/* 2. Kısım - Header */
.header {
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border-bottom: 0.3rem solid black;
}

.header nav{
    display: flex;
    padding: 0.8rem 0;    
}

.header nav a{
    padding: 0.3rem 1rem;  
    border: 0.1rem solid white;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

.header nav a:hover{
    border: 0.1rem solid black;
    background-color: gray;
    color: black;
}

/* 3. Kısım - SectionOne */
.sectionOne{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sectionOne .sectionImage {
    flex-basis: 30vw;
    object-fit: contain;
}
.sectionOne .sectionImage img{
    object-fit: contain;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(50, 47, 47);
}

.sectionOne .sectionContent{
    width: 30rem;
    text-align: right;
}

.sectionOne .sectionContent a{
    padding: 0 2rem 0 2rem;  
    border: 0.1rem solid gray;
    border-radius: 2rem;
    background-color: black;
    color: white;
    width: 10rem;
}

.sectionOne .sectionContent a:hover{
    border: 0.2rem solid black;
    background-color: gray;
    color: black;
}

/* 4. Kısım - SectionTwo */
.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem 1rem;
    text-align: center;
} 

.sectionTwo h2{
    border-bottom: 5px solid black;
} 

.sectionTwo .projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 1rem 2rem;
} 

.sectionTwo .projects .project .projectImage{
    display: flex;
    flex-direction: column;
} 

.sectionTwo img{
    object-fit: contain;
    width: 14rem;
    border-radius: 50%;
    border: 5px solid rgb(50, 47, 47);
}

/* 4. Kısım - Footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 8rem;

}

.footer a{
    margin: 0rem;
    padding: 0 0.5rem 0 0.5rem;  
    border: 0.1rem solid orange;
    background-color: white;
    color: black;
    width: 10rem;
    text-align: center;
}

